{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "import",
    "react",
    "react-hooks",
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb-typescript",
    "plugin:storybook/recommended"
  ],
  "env": {
    "node": true
  },
  "parserOptions": {
      "project": "./tsconfig.json"
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react/jsx-one-expression-per-line": "off",
    "linebreak-style": 0
  }
}
