$orange: #ffc164;
$purple: #c472ff;
$cyan: #80c8ff;
$magenta: #ff5e91;
$yellow: #fff377;
$green: #85fdbf;
$white: #fff;
$black: #000;

@function all-colors() {
  @return map-merge(all-extra-colors(), ("orange": $orange));
}

@function all-extra-colors() {
  @return (
    "purple": $purple,
    "cyan": $cyan,
    "magenta": $magenta,
    "yellow": $yellow,
    "green": $green,
  );
}
